{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block script %}
    <script defer src="resources/JS/uploadWorker.js"></script>
    <script defer src="resources/JS/upload.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script defer src="resources/JS/map.js"></script>
    <script defer src="resources/JS/utilities.js"></script>
    <script defer src="resources/JS/hideandshow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
{% endblock %}

{% block body %}
    
    {% for data in data_db %}
        <h1>Modification du : {{data.nom}}</h1>

        <h3 class="h3Title"> Tous les champs marqués d'un <span class="mandatory">*</span> sont obligatoires. </h3>

        <div class="modif-animal">
            <form enctype='multipart/form-data' method="POST" action="index.php?o=edit&a=updateAnimal" id="form-modif" name="formulaire">
                <div class="uploadContainer">
                    <div id="container-1">
                        <h2> Nom de l'animal <span class="mandatory">*</span> </h2>
                        <div id="sortingLinks">
                            <label for="name">Nom de l'animal :
                                <input type="text" id="name_modif" name="name" placeholder="{{data.nom}}">
                            </label>
                            <input type="hidden" name="id" value="{{data.id}}">
                            <div id="previousLink">
                                <label for="prev-link">Lien actuel:
                                    <a id="prev-link" name="prev-link" href="{{data.link}}">{{data.link}}</a>
                                </label>
                            </div>
                        </div>
                        <div id="links">
                            <div id="scrappingWiki"></div>
                        </div>
                    </div>
                    <div id="container-2">
                        <h2> Description de l'animal </h2>
                        <div id="descriptionCheckbox">
                            <label for="scrapDescription"> 
                            {% if  data.scrapped == 1 %}
                                <input type="checkbox" id="scrapDescription" name="scrapDescription" value="descriptionScrapped" checked> Récupérer description depuis Wikipédia </label>
                            {% else %}
                                <input type="checkbox" id="scrapDescription" name="scrapDescription" value="descriptionScrapped"> Récupérer description depuis Wikipédia </label>
                            {% endif %}
                            <label for="ownDescription"> <input type="checkbox" id="ownDescription" name="ownDescription" value="ownedDescription"> Ecrire sa propre description </label>
                        </div>
                        <div id="desc">
                            <fieldset id="fieldsetDescription">
                            <legend for="description">Description</legend>
                                <textarea rows="10" cols="50" id="description" name="description" placeholder="{{data.description}}"></textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div id="container-3">
                    <h2> Image de l'animal </h2>
                        <div id="imgCheckbox">
                            <label for="scrapImage">
                            {% if  data.wikilink == null %}
                                <input type="checkbox" id="scrapImage" name="scrapImage" value="imgScrapped"> Récupérer image depuis Wikipédia </label>
                            {% else %}
                                <input type="checkbox" id="scrapImage" name="scrapImage" value="imgScrapped" checked>
                                Récupérer image depuis Wikipédia </label>
                            {% endif %}
                            <label for="ownImage"> <input type="checkbox" id="ownImage" name="ownImage" value="ownedImage"> Importer sa propre image </label>
                        </div>
                        <div id="dragNdropArea">
                            <h3 class="h3Modif"> Insérer une nouvelle image </h3>
                            <label id="uploadLabel" class="uploadButton" for="uploadMultiple">ou cliquez-moi pour déposer votre nouvelle image !</label>
                            <input type="file" name="file[]" id="uploadMultiple" accept="image/*" class="hidden">
                            <div id="imageZone" class="hidden"></div>
                        </div>
                    </div>
                    <div id=container-4>
                        <h2> Catégorie de l'animal <span class="mandatory">*</span> </h2>
                        <div id="selection">
                            <label for="categorie-select">Catégorie :
                                <select name="categorie" id="categorie-select">
                                    {% if  data.categorie == "Oiseaux" %} 
                                        <option value="Oiseaux" selected>Oiseaux</option>
                                    {% else %}
                                        <option value="Oiseaux">Oiseaux</option>
                                    {% endif %}
                                    {% if  data.categorie == "Mammifères" %} 
                                        <option value="Mammifères" selected>Mammifères</option>
                                    {% else %}
                                        <option value="Mammifères">Mammifères</option>
                                    {% endif %}
                                    {% if  data.categorie == "Reptiles" %} 
                                        <option value="Reptiles" selected>Reptiles</option>
                                    {% else %}
                                        <option value="Reptiles">Reptiles</option>
                                    {% endif %}
                                    {% if  data.categorie == "Insectes" %} 
                                        <option value="Insectes" selected>Insectes</option>
                                    {% else %}
                                        <option value="Insectes">Insectes</option>
                                    {% endif %}
                                    {% if  data.categorie == "Poissons" %} 
                                        <option value="Poissons" selected>Poissons</option>
                                    {% else %}
                                        <option value="Poissons">Poissons</option>
                                    {% endif %}
                                </select>
                            </label>
                            <div id="selectedCategory"></div>
                        </div>
                    </div>
                </div>
                <div id="container-5">
                    <h2> Image actuelle </h2>
                    {% if  data.wikilink == null %}
                        <img id="image_dl" name="image_dl" src="data:image/jpeg;base64,{{filedata}}" width="auto" height="500" loading="lazy">
                    {% else %}    
                        <img id="image_dl" name="image_dl" src="{{data.wikilink}}" width="auto" height="500">
                    {% endif %}
                    <br>
                </div>
                <div id="container-6">
                    <h2> Placement des coordonnées </h2>
                    <div id="getCoord">
                        <button id="getgpscoord" name="getgpscoord">Récuperer les coordonnées GPS depuis l'image</button>
                        <div id="coordFound"></div>
                    </div>
                    <div id="labelsLngLat">
                        <label for="Longitude">Longitude :
                            <input type="text" id="Longitude" name="longitude" value="{{data.longitude}}" readonly>
                        </label>
                        <label for="Latitude">Latitude :
                            <input type="text" id="Latitude" name="latitude" value="{{data.latitude}}" readonly>
                        </label>
                    </div>
                    <div id="map"></div>
                    <input type="submit" class="submitButton" id="submitButton" name="submitButton">
                    <br>
                    <div id="progressBarContainer" class="hidden">
                        <div id="progressBar">0%</div>
                    </div>
                </div>
            </form>
        </div>
    {% endfor %}

{% endblock %}